# Pipeline

# Pipeline

1. Maak SQL scripts voor schams: RAW, ARCHIVED, CLEANSED
2. importeer source data in RAW
3. data cleaning => RAW naar ARCHIVED en CLEANSED
4. maak SQL scripts voor Data Warehouse/sterschema
5. import van CLEANSED naar DWH
6. prep data lake: exporteer tabellen naar parquet files
7. upload parquet files naar S3 (eerst bucket aanmaken)
8. maak Athena tables
9. gebruik Athena in BI tool naar keuze

In [201]:
%pip install -q pandas sqlalchemy psycopg2-binary

Note: you may need to restart the kernel to use updated packages.

In [202]:
import psycopg2

host = "host.docker.internal"
dbname = "postgres"
user = "postgres"
password = "Newpassword"
port = "5432"

conn = psycopg2.connect(
    host=host,
    dbname=dbname,
    user=user,
    password=password,
    port=port
)

cur = conn.cursor()
with open("./sql_scripts/raw_1.sql") as file:
    sql_script = file.read()
cur.execute(sql_script)
print("raw")
with open("./sql_scripts/archived.sql") as file:
    sql_script = file.read()
cur.execute(sql_script)
print("archived")
with open("./sql_scripts/cleansed.sql") as file:
    sql_script = file.read()
cur.execute(sql_script)
print("cleansed")
conn.commit()

raw
archived

In [ ]:
from sqlalchemy import create_engine, types as sqlalchemytypes


engine = create_engine('postgresql://postgres:Newpassword@host.docker.internal:5432/postgres')

import pandas as pd


df = pd.read_csv('./source_data/export_aankomst.tsv', sep='\t', dtype=str,encoding="utf-8")

df.to_sql('aankomst', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.String,
    "Bezetting": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
    "Aankomsttijd": sqlalchemytypes.String,
})

61

Banen

In [ ]:
df = pd.read_csv('./source_data/export_banen.csv', sep=';', dtype=str,encoding="utf-8")

df.to_sql('banen', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Baannummer": sqlalchemytypes.String,
    "Code": sqlalchemytypes.String,
    "Naam": sqlalchemytypes.String,
    "Lengte": sqlalchemytypes.String,
})

6

Klant

In [ ]:
df = pd.read_csv('./source_data/export_klant.csv', sep=';', dtype=str,encoding="utf-8")

df.to_sql('klant', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Operatie": sqlalchemytypes.String,
    "Faciliteiten": sqlalchemytypes.String,
    "Shops": sqlalchemytypes.String,
})

110

Luchthavens

In [ ]:
df = pd.read_csv('./source_data/export_luchthavens.tsv', sep='\t', dtype=str,encoding="ISO-8859-1")

df.to_sql('luchthavens', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Airport": sqlalchemytypes.String,
    "City": sqlalchemytypes.String,
    "Country": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Lat": sqlalchemytypes.String,
    "Lon": sqlalchemytypes.String,
    "Alt": sqlalchemytypes.String,
    "TZ": sqlalchemytypes.String,
    "DST": sqlalchemytypes.String,
    "Tz": sqlalchemytypes.String,
})

107

Maatschappijen

In [ ]:
df = pd.read_csv('./source_data/export_maatschappijen.tsv', sep='\t', dtype=str,encoding="ISO-8859-1")

df.to_sql('maatschappijen', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Name": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
})

166

Planning

In [ ]:
df = pd.read_csv('./source_data/export_planning.tsv', sep='\t', dtype=str)

df.to_sql('planning', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Planterminal": sqlalchemytypes.String,
    "Plangate": sqlalchemytypes.String,
    "Plantijd": sqlalchemytypes.String,
})

693

Vertrek

In [ ]:
df = pd.read_csv('./source_data/export_vertrek.tsv', sep='\t', dtype=str)

df.to_sql('vertrek', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.String,
    "Bezetting": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
    "Vertrektijd": sqlalchemytypes.String,
})

447

Vliegtuig

In [ ]:
df = pd.read_csv('./source_data/export_vliegtuig.tsv', sep='\t', dtype=str)

df.to_sql('vliegtuig', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Airlinecode": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Vliegtuigtype": sqlalchemytypes.String,
    "Bouwjaar": sqlalchemytypes.String,
})

557

Vliegtuigtype

In [ ]:
df = pd.read_csv('./source_data/export_vliegtuigtype.csv', sep=';', dtype=str)

df.to_sql('vliegtuigtype', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Merk": sqlalchemytypes.String,
    "Type": sqlalchemytypes.String,
    "Wake": sqlalchemytypes.String,
    "Cat": sqlalchemytypes.String,
    "Capaciteit": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
})

327

Vlucht

In [ ]:
df = pd.read_csv('./source_data/export_vlucht.tsv', sep='\t', dtype=str)

df.to_sql('vlucht', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Datum": sqlalchemytypes.String,
})

512

Weer

In [ ]:
df = pd.read_csv('./source_data/export_weer.tsv', sep='\t', dtype=str)

df.to_sql('weer', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Datum": sqlalchemytypes.String,
    "DDVEC": sqlalchemytypes.String,
    "FHVEC": sqlalchemytypes.String,
    "FG": sqlalchemytypes.String,
    "FHX": sqlalchemytypes.String,
    "FHXH": sqlalchemytypes.String,
    "FHN": sqlalchemytypes.String,
    "FHNH": sqlalchemytypes.String,
    "FXX": sqlalchemytypes.String,
    "FXXH": sqlalchemytypes.String,
    "TG": sqlalchemytypes.String,
    "TN": sqlalchemytypes.String,
    "TNH": sqlalchemytypes.String,
    "TX": sqlalchemytypes.String,
    "TXH": sqlalchemytypes.String,
    "T10N": sqlalchemytypes.String,
    "T10NH": sqlalchemytypes.String,
    "SQ": sqlalchemytypes.String,
	"SP": sqlalchemytypes.String,
    "Q": sqlalchemytypes.String,
    "DR": sqlalchemytypes.String,
    "RH": sqlalchemytypes.String,
	"RHX": sqlalchemytypes.String,
    "RHXH": sqlalchemytypes.String,
    "PG": sqlalchemytypes.String,
    "PX": sqlalchemytypes.String,
    "PXH": sqlalchemytypes.String,
    "PN": sqlalchemytypes.String,
    "PNH": sqlalchemytypes.String,
    "VVN": sqlalchemytypes.String,
    "VVNH": sqlalchemytypes.String,
    "VVX": sqlalchemytypes.String,
    "VVXH": sqlalchemytypes.String,
    "NG": sqlalchemytypes.String,
    "UG": sqlalchemytypes.String,
    "UX": sqlalchemytypes.String,
    "UXH": sqlalchemytypes.String,
    "UN": sqlalchemytypes.String,
    "UNH": sqlalchemytypes.String,
    "EV2": sqlalchemytypes.String,
})

644

## Data cleaning

Aankomst

In [ ]:
query = '''
SELECT *
FROM raw_1.aankomst;
'''
df_original = pd.read_sql(query, conn)
df_dropped = df_original[(df_original['Vracht'].isnull()) & (df_original['Bezetting'].isnull())]
df_cleaned = df_original.drop(df_dropped.index)

df_dropped.to_sql('aankomst', con=engine, schema='archived', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.String,
    "Bezetting": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
    "Aankomsttijd": sqlalchemytypes.String,
})
df_cleaned.to_sql('aankomst', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.SmallInteger,
    "Bezetting": sqlalchemytypes.SmallInteger,
    "Vracht": sqlalchemytypes.SmallInteger,
    "Aankomsttijd": sqlalchemytypes.TIMESTAMP
})

/tmp/ipykernel_31469/2635250363.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

442

Banen

In [ ]:
query = '''
SELECT *
FROM raw_1.banen;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('banen', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Baannummer": sqlalchemytypes.SmallInteger,
    "Code": sqlalchemytypes.String,
    "Naam": sqlalchemytypes.String,
    "Lengte": sqlalchemytypes.SmallInteger,
})

/tmp/ipykernel_31469/1905881795.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

6

Klant

In [ ]:
query = '''
SELECT *
FROM raw_1.klant;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('klant', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Operatie": sqlalchemytypes.Numeric,
    "Faciliteiten": sqlalchemytypes.Numeric,
    "Shops": sqlalchemytypes.Numeric,
})

/tmp/ipykernel_31469/60357407.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

110

Luchthavens

In [ ]:
query = '''
SELECT *
FROM raw_1.luchthavens;
'''
df_original = pd.read_sql(query, conn)
df_original = df_original.drop_duplicates(subset=['IATA'])
df_dropped = df_original[(df_original['IATA'].isnull())]
df_cleaned = df_original.drop(df_dropped.index)

df_dropped.to_sql('luchthavens', con=engine, schema='archived', if_exists='append', index=False, dtype={
    "Airport": sqlalchemytypes.String,
    "City": sqlalchemytypes.String,
    "Country": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Lat": sqlalchemytypes.String,
    "Lon": sqlalchemytypes.String,
    "Alt": sqlalchemytypes.String,
    "TZ": sqlalchemytypes.String,
    "DST": sqlalchemytypes.String,
    "Tz": sqlalchemytypes.String,
})
df_cleaned.to_sql('luchthavens', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Airport": sqlalchemytypes.String,
    "City": sqlalchemytypes.String,
    "Country": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Lat": sqlalchemytypes.Numeric,
    "Lon": sqlalchemytypes.Numeric,
    "Alt": sqlalchemytypes.SmallInteger,
    "TZ": sqlalchemytypes.Numeric,
    "DST": sqlalchemytypes.String,
    "Tz": sqlalchemytypes.String,
})

/tmp/ipykernel_31469/2481863559.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

878

Maatschappijen

In [ ]:
query = '''
SELECT *
FROM raw_1.maatschappijen;
'''
df_original = pd.read_sql(query, conn)
df_original = df_original.drop_duplicates(subset=['IATA'])
df_dropped = df_original[(df_original['IATA'].isnull())]
df_cleaned = df_original.drop(df_dropped.index)

df_dropped.to_sql('maatschappijen', con=engine, schema='archived', if_exists='append', index=False, dtype={
    "Name": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
})
df_cleaned.to_sql('maatschappijen', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Name": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
})

/tmp/ipykernel_31469/2501596842.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

933

Planning

In [ ]:
query = '''
SELECT *
FROM raw_1.planning;
'''
df_original = pd.read_sql(query, conn)
df_dropped = df_original[(df_original['Planterminal'].isnull()) & (df_original['Plangate'].isnull()) & (df_original['Plantijd'].isnull())]
df_cleaned = df_original.drop(df_dropped.index)
df_dropped.to_sql('planning', con=engine, schema='archived', if_exists='append', index=False, dtype={
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Planterminal": sqlalchemytypes.String,
    "Plangate": sqlalchemytypes.String,
    "Plantijd": sqlalchemytypes.String,
})
df_cleaned.to_sql('planning', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Planterminal": sqlalchemytypes.String,
    "Plangate": sqlalchemytypes.String,
    "Plantijd": sqlalchemytypes.TIME,
})

/tmp/ipykernel_31469/1736745285.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

574

Vertrek

In [ ]:
query = '''
SELECT *
FROM raw_1.vertrek;
'''
df_original = pd.read_sql(query, conn)
df_dropped = df_original[(df_original['Vracht'].isnull()) & (df_original['Bezetting'].isnull())]
df_cleaned = df_original.drop(df_dropped.index)
df_dropped.to_sql('vertrek', con=engine, schema='archived', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.String,
    "Bezetting": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
    "Vertrektijd": sqlalchemytypes.String,
})
df_cleaned.to_sql('vertrek', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.SmallInteger,
    "Bezetting": sqlalchemytypes.SmallInteger,
    "Vracht": sqlalchemytypes.SmallInteger,
    "Vertrektijd": sqlalchemytypes.TIMESTAMP,
})

/tmp/ipykernel_31469/3382717365.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

441

Vliegtuigen

In [ ]:
query = '''
SELECT *
FROM raw_1.vliegtuig;
'''
df_original = pd.read_sql(query, conn)
df_original.to_sql('vliegtuig', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Airlinecode": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Vliegtuigtype": sqlalchemytypes.String,
    "Bouwjaar": sqlalchemytypes.SmallInteger,
})

/tmp/ipykernel_31469/193211816.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

557

Vliegtuigtype

In [ ]:
query = '''
SELECT *
FROM raw_1.vliegtuigtype;
'''
df_original = pd.read_sql(query, conn)
df_original.to_sql('vliegtuigtype', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Merk": sqlalchemytypes.String,
    "Type": sqlalchemytypes.String,
    "Wake": sqlalchemytypes.String,
    "Cat": sqlalchemytypes.String,
    "Capaciteit": sqlalchemytypes.SmallInteger,
    "Vracht": sqlalchemytypes.SmallInteger,
})

/tmp/ipykernel_31469/1120226741.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

327

Vlucht

In [ ]:
query = '''
SELECT *
FROM raw_1.vlucht;
'''
df_original = pd.read_sql(query, conn)
df_original.to_sql('vlucht', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Datum": sqlalchemytypes.DATE,
})

/tmp/ipykernel_31469/483374263.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

512

Weer

In [ ]:
query = '''
SELECT *
FROM raw_1.weer;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('weer', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Datum": sqlalchemytypes.DATE,
    "DDVEC": sqlalchemytypes.SMALLINT,
    "FHVEC": sqlalchemytypes.SMALLINT,
    "FG": sqlalchemytypes.SMALLINT,
    "FHX": sqlalchemytypes.SMALLINT,
    "FHXH": sqlalchemytypes.SMALLINT,
    "FHN": sqlalchemytypes.SMALLINT,
    "FHNH": sqlalchemytypes.SMALLINT,
    "FXX": sqlalchemytypes.SMALLINT,
    "FXXH": sqlalchemytypes.SMALLINT,
    "TG": sqlalchemytypes.SMALLINT,
    "TN": sqlalchemytypes.SMALLINT,
    "TNH": sqlalchemytypes.SMALLINT,
    "TX": sqlalchemytypes.SMALLINT,
    "TXH": sqlalchemytypes.SMALLINT,
    "T10N": sqlalchemytypes.SMALLINT,
    "T10NH": sqlalchemytypes.SMALLINT,
    "SQ": sqlalchemytypes.SMALLINT,
	"SP": sqlalchemytypes.SMALLINT,
    "Q": sqlalchemytypes.SMALLINT,
    "DR": sqlalchemytypes.SMALLINT,
    "RH": sqlalchemytypes.SMALLINT,
	"RHX": sqlalchemytypes.SMALLINT,
    "RHXH": sqlalchemytypes.SMALLINT,
    "PG": sqlalchemytypes.SMALLINT,
    "PX": sqlalchemytypes.SMALLINT,
    "PXH": sqlalchemytypes.SMALLINT,
    "PN": sqlalchemytypes.SMALLINT,
    "PNH": sqlalchemytypes.SMALLINT,
    "VVN": sqlalchemytypes.SMALLINT,
    "VVNH": sqlalchemytypes.SMALLINT,
    "VVX": sqlalchemytypes.SMALLINT,
    "VVXH": sqlalchemytypes.SMALLINT,
    "NG": sqlalchemytypes.SMALLINT,
    "UG": sqlalchemytypes.SMALLINT,
    "UX": sqlalchemytypes.SMALLINT,
    "UXH": sqlalchemytypes.SMALLINT,
    "UN": sqlalchemytypes.SMALLINT,
    "UNH": sqlalchemytypes.SMALLINT,
    "EV2": sqlalchemytypes.SMALLINT,
})

/tmp/ipykernel_31469/1513897221.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

644

## Data warehouse

In [ ]:
cur = conn.cursor()

with open("./sql_scripts/star.sql","r") as file:
    sql_script = file.read()
cur.execute(sql_script)

conn.commit()

Banen

In [ ]:
query = '''
SELECT *
FROM cleansed.banen;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('banen', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Baannummer": sqlalchemytypes.SmallInteger,
    "Code": sqlalchemytypes.String,
    "Naam": sqlalchemytypes.String,
    "Lengte": sqlalchemytypes.SmallInteger,
})

/tmp/ipykernel_31469/502059877.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

6

Klant

In [ ]:
query = '''
SELECT *
FROM cleansed.klant;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('klant', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Operatie": sqlalchemytypes.Numeric,
    "Faciliteiten": sqlalchemytypes.Numeric,
    "Shops": sqlalchemytypes.Numeric,
})

/tmp/ipykernel_31469/1914634220.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

110

Luchthavens

In [ ]:
query = '''
SELECT *
FROM cleansed.luchthavens;
'''
df_original = pd.read_sql(query, conn)


df_original.to_sql('luchthavens', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Airport": sqlalchemytypes.String,
    "City": sqlalchemytypes.String,
    "Country": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Lat": sqlalchemytypes.Numeric,
    "Lon": sqlalchemytypes.Numeric,
    "Alt": sqlalchemytypes.SmallInteger,
    "TZ": sqlalchemytypes.Numeric,
    "DST": sqlalchemytypes.String,
    "Tz": sqlalchemytypes.String,
})

/tmp/ipykernel_31469/2166639689.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

878

Maatschappijen

In [ ]:
query = '''
SELECT *
FROM cleansed.maatschappijen;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('maatschappijen', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Name": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
})

/tmp/ipykernel_31469/896613491.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

933

Vliegtuigtype

In [ ]:
query = '''
SELECT *
FROM cleansed.vliegtuigtype;
'''
df_original = pd.read_sql(query, conn)
df_original.to_sql('vliegtuigtype', con=engine, schema='star', if_exists='append', index=False, dtype={
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Merk": sqlalchemytypes.String,
    "Type": sqlalchemytypes.String,
    "Wake": sqlalchemytypes.String,
    "Cat": sqlalchemytypes.String,
    "Capaciteit": sqlalchemytypes.SmallInteger,
    "Vracht": sqlalchemytypes.SmallInteger,
})

/tmp/ipykernel_31469/47310862.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

327

Vlucht

In [ ]:
query = '''
SELECT
combined."Vluchtid",
v."Vluchtnr",
v."Vliegtuigcode",
l."Vliegtuigtype",
l."Bouwjaar",
combined."Terminal",
combined."Gate",
combined."Baan",
combined."Bezetting",
combined."Vracht",
combined.Type,
p."Plantijd",
combined.Tijd,
v."Airlinecode",
v."Destcode",
v."Datum"
FROM
(SELECT "Vluchtid","Vliegtuigcode","Terminal","Gate","Baan","Bezetting","Vracht", 'aankomst' AS Type, "Aankomsttijd" As Tijd
FROM cleansed.aankomst 
UNION
SELECT "Vluchtid","Vliegtuigcode","Terminal","Gate","Baan","Bezetting","Vracht", 'vertrek' AS Type, "Vertrektijd" As Tijd
FROM cleansed.vertrek) AS combined
LEFT JOIN
cleansed.vlucht v
ON
combined."Vluchtid" = v."Vluchtid"
LEFT JOIN
cleansed.vliegtuig l
ON
v."Vliegtuigcode" = l."Vliegtuigcode"
LEFT JOIN
cleansed.planning p
ON
v."Vluchtnr" = p."Vluchtnr";
'''
df_original = pd.read_sql(query, conn)
df_original.to_sql('vlucht', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Vluchtnr": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Vliegtuigtype": sqlalchemytypes.String,
    "Bouwjaar": sqlalchemytypes.SMALLINT,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.SMALLINT,
    "Bezetting": sqlalchemytypes.SMALLINT,
    "Vracht": sqlalchemytypes.SMALLINT,
    "Type": sqlalchemytypes.String,
    "Plantijd": sqlalchemytypes.TIME,
    "Tijd": sqlalchemytypes.TIMESTAMP,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Datum": sqlalchemytypes.DATE,
})

/tmp/ipykernel_31469/721967498.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

Weer

In [ ]:
query = '''
SELECT *
FROM cleansed.weer;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('weer', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Datum": sqlalchemytypes.DATE,
    "DDVEC": sqlalchemytypes.SMALLINT,
    "FHVEC": sqlalchemytypes.SMALLINT,
    "FG": sqlalchemytypes.SMALLINT,
    "FHX": sqlalchemytypes.SMALLINT,
    "FHXH": sqlalchemytypes.SMALLINT,
    "FHN": sqlalchemytypes.SMALLINT,
    "FHNH": sqlalchemytypes.SMALLINT,
    "FXX": sqlalchemytypes.SMALLINT,
    "FXXH": sqlalchemytypes.SMALLINT,
    "TG": sqlalchemytypes.SMALLINT,
    "TN": sqlalchemytypes.SMALLINT,
    "TNH": sqlalchemytypes.SMALLINT,
    "TX": sqlalchemytypes.SMALLINT,
    "TXH": sqlalchemytypes.SMALLINT,
    "T10N": sqlalchemytypes.SMALLINT,
    "T10NH": sqlalchemytypes.SMALLINT,
    "SQ": sqlalchemytypes.SMALLINT,
	"SP": sqlalchemytypes.SMALLINT,
    "Q": sqlalchemytypes.SMALLINT,
    "DR": sqlalchemytypes.SMALLINT,
    "RH": sqlalchemytypes.SMALLINT,
	"RHX": sqlalchemytypes.SMALLINT,
    "RHXH": sqlalchemytypes.SMALLINT,
    "PG": sqlalchemytypes.SMALLINT,
    "PX": sqlalchemytypes.SMALLINT,
    "PXH": sqlalchemytypes.SMALLINT,
    "PN": sqlalchemytypes.SMALLINT,
    "PNH": sqlalchemytypes.SMALLINT,
    "VVN": sqlalchemytypes.SMALLINT,
    "VVNH": sqlalchemytypes.SMALLINT,
    "VVX": sqlalchemytypes.SMALLINT,
    "VVXH": sqlalchemytypes.SMALLINT,
    "NG": sqlalchemytypes.SMALLINT,
    "UG": sqlalchemytypes.SMALLINT,
    "UX": sqlalchemytypes.SMALLINT,
    "UXH": sqlalchemytypes.SMALLINT,
    "UN": sqlalchemytypes.SMALLINT,
    "UNH": sqlalchemytypes.SMALLINT,
    "EV2": sqlalchemytypes.SMALLINT,
})

/tmp/ipykernel_31469/1575554463.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

644

## Prep datalake