# Pipeline

# Pipeline

1. Maak SQL scripts voor schams: RAW, ARCHIVED, CLEANSED
2. importeer source data in RAW
3. data cleaning => RAW naar ARCHIVED en CLEANSED
4. maak SQL scripts voor Data Warehouse/sterschema
5. import van CLEANSED naar DWH
6. prep data lake: exporteer tabellen naar parquet files
7. upload parquet files naar S3 (eerst bucket aanmaken)
8. maak Athena tables
9. gebruik Athena in BI tool naar keuze

In [209]:
%pip install -q pandas sqlalchemy psycopg2-binary

Note: you may need to restart the kernel to use updated packages.

In [210]:
import psycopg2

host = "host.docker.internal"
dbname = "postgres"
user = "postgres"
password = "Newpassword"
port = "5432"

conn = psycopg2.connect(
    host=host,
    dbname=dbname,
    user=user,
    password=password,
    port=port
)

cur = conn.cursor()

with open("./sql_scripts/raw.sql","r") as file:
    sql_script = file.read()
cur.execute(sql_script)

with open("./sql_scripts/archived.sql") as file:
    sql_script = file.read()
cur.execute(sql_script)

with open("./sql_scripts/cleansed.sql") as file:
    sql_script = file.read()
cur.execute(sql_script)

conn.commit()

In [211]:
from sqlalchemy import create_engine, types as sqlalchemytypes


engine = create_engine('postgresql://postgres:Newpassword@host.docker.internal:5432/postgres')

import pandas as pd


df = pd.read_csv('./source_data/export_aankomst.tsv', sep='\t', dtype=str,encoding="utf-8")

df.to_sql('aankomst', con=engine, schema='raw', if_exists='append', index=False, dtype={
     "Vluchtid": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.String,
    "Bezetting": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
    "Aankomsttijd": sqlalchemytypes.String,
})

61

Banen

In [212]:
df = pd.read_csv('./source_data/export_banen.csv', sep=';', dtype=str,encoding="utf-8")

df.to_sql('banen', con=engine, schema='raw', if_exists='append', index=False, dtype={
     "Baannummer": sqlalchemytypes.String,
    "Code": sqlalchemytypes.String,
    "Naam": sqlalchemytypes.String,
    "Lengte": sqlalchemytypes.String,
})

6

Klant

In [213]:
df = pd.read_csv('./source_data/export_klant.csv', sep=';', dtype=str,encoding="utf-8")

df.to_sql('klant', con=engine, schema='raw', if_exists='append', index=False, dtype={
     "Vluchtid": sqlalchemytypes.String,
    "Operatie": sqlalchemytypes.String,
    "Faciliteiten": sqlalchemytypes.String,
    "Shops": sqlalchemytypes.String,
})

110

Luchthavens

In [214]:
df = pd.read_csv('./source_data/export_luchthavens.tsv', sep='\t', dtype=str,encoding="ISO-8859-1")

df.to_sql('luchthavens', con=engine, schema='raw', if_exists='append', index=False, dtype={
     "Airport": sqlalchemytypes.String,
    "City": sqlalchemytypes.String,
    "Country": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Lat": sqlalchemytypes.String,
    "Lon": sqlalchemytypes.String,
    "Alt": sqlalchemytypes.String,
    "TZ": sqlalchemytypes.String,
    "DST": sqlalchemytypes.String,
    "Tz": sqlalchemytypes.String,
})

107

Maatschappijen

In [215]:
df = pd.read_csv('./source_data/export_maatschappijen.tsv', sep='\t', dtype=str,encoding="ISO-8859-1")

df.to_sql('maatschappijen', con=engine, schema='raw', if_exists='append', index=False, dtype={
    "Name": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
})

166

Planning

In [216]:
df = pd.read_csv('./source_data/export_planning.tsv', sep='\t', dtype=str)

df.to_sql('planning', con=engine, schema='raw', if_exists='append', index=False, dtype={
     "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Planterminal": sqlalchemytypes.String,
    "Plangate": sqlalchemytypes.String,
    "Plantijd": sqlalchemytypes.String,
})

693

Vertrek

In [217]:
df = pd.read_csv('./source_data/export_vertrek.tsv', sep='\t', dtype=str)

df.to_sql('vertrek', con=engine, schema='raw', if_exists='append', index=False, dtype={
     "Vluchtid": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.String,
    "Bezetting": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
    "Vertrektijd": sqlalchemytypes.String,
})

447

Vliegtuig

In [218]:
df = pd.read_csv('./source_data/export_vliegtuig.tsv', sep='\t', dtype=str)

df.to_sql('vliegtuig', con=engine, schema='raw', if_exists='append', index=False, dtype={
     "Airlinecode": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Vliegtuigtype": sqlalchemytypes.String,
    "Bouwjaar": sqlalchemytypes.String,
})

557

Vliegtuigtype

In [219]:
df = pd.read_csv('./source_data/export_vliegtuigtype.csv', sep=';', dtype=str)

df.to_sql('vliegtuigtype', con=engine, schema='raw', if_exists='append', index=False, dtype={
     "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Merk": sqlalchemytypes.String,
    "Type": sqlalchemytypes.String,
    "Wake": sqlalchemytypes.String,
    "Cat": sqlalchemytypes.String,
    "Capaciteit": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
})

327

Vlucht

In [220]:
df = pd.read_csv('./source_data/export_vlucht.tsv', sep='\t', dtype=str)

df.to_sql('vlucht', con=engine, schema='raw', if_exists='append', index=False, dtype={
     "Vluchtid": sqlalchemytypes.String,
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Datum": sqlalchemytypes.String,
})

512

Weer

In [221]:
df = pd.read_csv('./source_data/export_weer.tsv', sep='\t', dtype=str)

df.to_sql('weer', con=engine, schema='raw', if_exists='append', index=False, dtype={
     "Datum": sqlalchemytypes.String,
    "DDVEC": sqlalchemytypes.String,
    "FHVEC": sqlalchemytypes.String,
    "FG": sqlalchemytypes.String,
    "FHX": sqlalchemytypes.String,
    "FHXH": sqlalchemytypes.String,
    "FHN": sqlalchemytypes.String,
    "FHNH": sqlalchemytypes.String,
    "FXX": sqlalchemytypes.String,
    "FXXH": sqlalchemytypes.String,
    "TG": sqlalchemytypes.String,
    "TN": sqlalchemytypes.String,
     "TNH": sqlalchemytypes.String,
    "TX": sqlalchemytypes.String,
    "TXH": sqlalchemytypes.String,
    "T10N": sqlalchemytypes.String,
    "T10NH": sqlalchemytypes.String,
    "SQ": sqlalchemytypes.String,
	"SP": sqlalchemytypes.String,
    "Q": sqlalchemytypes.String,
    "DR": sqlalchemytypes.String,
    "RH": sqlalchemytypes.String,
	"RHX": sqlalchemytypes.String,
    "RHXH": sqlalchemytypes.String,
    "PG": sqlalchemytypes.String,
    "PX": sqlalchemytypes.String,
    "PXH": sqlalchemytypes.String,
    "PN": sqlalchemytypes.String,
    "PNH": sqlalchemytypes.String,
    "VVN": sqlalchemytypes.String,
    "VVNH": sqlalchemytypes.String,
    "VVX": sqlalchemytypes.String,
    "VVXH": sqlalchemytypes.String,
    "NG": sqlalchemytypes.String,
    "UG": sqlalchemytypes.String,
    "UX": sqlalchemytypes.String,
    "UXH": sqlalchemytypes.String,
    "UN": sqlalchemytypes.String,
    "UNH": sqlalchemytypes.String,
    "EV2": sqlalchemytypes.String,
})

644

Data cleaning