# Pipeline

# Pipeline

1. Maak SQL scripts voor schams: RAW, ARCHIVED, CLEANSED
2. importeer source data in RAW
3. data cleaning => RAW naar ARCHIVED en CLEANSED
4. maak SQL scripts voor Data Warehouse/sterschema
5. import van CLEANSED naar DWH
6. prep data lake: exporteer tabellen naar parquet files
7. upload parquet files naar S3 (eerst bucket aanmaken)
8. maak Athena tables
9. gebruik Athena in BI tool naar keuze

In [73]:
%pip install -q pandas sqlalchemy psycopg2-binary

Note: you may need to restart the kernel to use updated packages.

In [74]:
import psycopg2

host = "host.docker.internal"
dbname = "postgres"
user = "postgres"
password = "Newpassword"
port = "5432"

conn = psycopg2.connect(
    host=host,
    dbname=dbname,
    user=user,
    password=password,
    port=port
)

cur = conn.cursor()
with open("./sql_scripts/raw_1.sql") as file:
    sql_script = file.read()
cur.execute(sql_script)
print("raw")
with open("./sql_scripts/archived.sql") as file:
    sql_script = file.read()
cur.execute(sql_script)
print("archived")
with open("./sql_scripts/cleansed.sql") as file:
    sql_script = file.read()
cur.execute(sql_script)
print("cleansed")
conn.commit()

raw
archived
cleansed

In [75]:
from sqlalchemy import create_engine, types as sqlalchemytypes


engine = create_engine('postgresql://postgres:Newpassword@host.docker.internal:5432/postgres')

import pandas as pd


df = pd.read_csv('./source_data/export_aankomst.tsv', sep='\t', dtype=str,encoding="utf-8")

df.to_sql('aankomst', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.String,
    "Bezetting": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
    "Aankomsttijd": sqlalchemytypes.String,
})

61

Banen

In [76]:
df = pd.read_csv('./source_data/export_banen.csv', sep=';', dtype=str,encoding="utf-8")

df.to_sql('banen', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Baannummer": sqlalchemytypes.String,
    "Code": sqlalchemytypes.String,
    "Naam": sqlalchemytypes.String,
    "Lengte": sqlalchemytypes.String,
})

6

Klant

In [77]:
df = pd.read_csv('./source_data/export_klant.csv', sep=';', dtype=str,encoding="utf-8")

df.to_sql('klant', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Operatie": sqlalchemytypes.String,
    "Faciliteiten": sqlalchemytypes.String,
    "Shops": sqlalchemytypes.String,
})

110

Luchthavens

In [78]:
df = pd.read_csv('./source_data/export_luchthavens.tsv', sep='\t', dtype=str,encoding="ISO-8859-1")

df.to_sql('luchthavens', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Airport": sqlalchemytypes.String,
    "City": sqlalchemytypes.String,
    "Country": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Lat": sqlalchemytypes.String,
    "Lon": sqlalchemytypes.String,
    "Alt": sqlalchemytypes.String,
    "TZ": sqlalchemytypes.String,
    "DST": sqlalchemytypes.String,
    "Tz": sqlalchemytypes.String,
})

107

Maatschappijen

In [79]:
df = pd.read_csv('./source_data/export_maatschappijen.tsv', sep='\t', dtype=str,encoding="ISO-8859-1")

df.to_sql('maatschappijen', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Name": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
})

166

Planning

In [80]:
df = pd.read_csv('./source_data/export_planning.tsv', sep='\t', dtype=str)

df.to_sql('planning', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Planterminal": sqlalchemytypes.String,
    "Plangate": sqlalchemytypes.String,
    "Plantijd": sqlalchemytypes.String,
})

693

Vertrek

In [81]:
df = pd.read_csv('./source_data/export_vertrek.tsv', sep='\t', dtype=str)

df.to_sql('vertrek', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.String,
    "Bezetting": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
    "Vertrektijd": sqlalchemytypes.String,
})

447

Vliegtuig

In [82]:
df = pd.read_csv('./source_data/export_vliegtuig.tsv', sep='\t', dtype=str)

df.to_sql('vliegtuig', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Airlinecode": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Vliegtuigtype": sqlalchemytypes.String,
    "Bouwjaar": sqlalchemytypes.String,
})

557

Vliegtuigtype

In [83]:
df = pd.read_csv('./source_data/export_vliegtuigtype.csv', sep=';', dtype=str)

df.to_sql('vliegtuigtype', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Merk": sqlalchemytypes.String,
    "Type": sqlalchemytypes.String,
    "Wake": sqlalchemytypes.String,
    "Cat": sqlalchemytypes.String,
    "Capaciteit": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
})

327

Vlucht

In [84]:
df = pd.read_csv('./source_data/export_vlucht.tsv', sep='\t', dtype=str)

df.to_sql('vlucht', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Datum": sqlalchemytypes.String,
})

512

Weer

In [85]:
df = pd.read_csv('./source_data/export_weer.tsv', sep='\t', dtype=str)

df.to_sql('weer', con=engine, schema='raw_1', if_exists='append', index=False, dtype={
    "Datum": sqlalchemytypes.String,
    "DDVEC": sqlalchemytypes.String,
    "FHVEC": sqlalchemytypes.String,
    "FG": sqlalchemytypes.String,
    "FHX": sqlalchemytypes.String,
    "FHXH": sqlalchemytypes.String,
    "FHN": sqlalchemytypes.String,
    "FHNH": sqlalchemytypes.String,
    "FXX": sqlalchemytypes.String,
    "FXXH": sqlalchemytypes.String,
    "TG": sqlalchemytypes.String,
    "TN": sqlalchemytypes.String,
    "TNH": sqlalchemytypes.String,
    "TX": sqlalchemytypes.String,
    "TXH": sqlalchemytypes.String,
    "T10N": sqlalchemytypes.String,
    "T10NH": sqlalchemytypes.String,
    "SQ": sqlalchemytypes.String,
	"SP": sqlalchemytypes.String,
    "Q": sqlalchemytypes.String,
    "DR": sqlalchemytypes.String,
    "RH": sqlalchemytypes.String,
	"RHX": sqlalchemytypes.String,
    "RHXH": sqlalchemytypes.String,
    "PG": sqlalchemytypes.String,
    "PX": sqlalchemytypes.String,
    "PXH": sqlalchemytypes.String,
    "PN": sqlalchemytypes.String,
    "PNH": sqlalchemytypes.String,
    "VVN": sqlalchemytypes.String,
    "VVNH": sqlalchemytypes.String,
    "VVX": sqlalchemytypes.String,
    "VVXH": sqlalchemytypes.String,
    "NG": sqlalchemytypes.String,
    "UG": sqlalchemytypes.String,
    "UX": sqlalchemytypes.String,
    "UXH": sqlalchemytypes.String,
    "UN": sqlalchemytypes.String,
    "UNH": sqlalchemytypes.String,
    "EV2": sqlalchemytypes.String,
})

644

## Data cleaning

Aankomst

In [86]:
query = '''
SELECT *
FROM raw_1.aankomst;
'''
df_original = pd.read_sql(query, conn)
df_dropped = df_original[(df_original['Vracht'].isnull()) & (df_original['Bezetting'].isnull())]
df_cleaned = df_original.drop(df_dropped.index)

df_dropped.to_sql('aankomst', con=engine, schema='archived', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.String,
    "Bezetting": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
    "Aankomsttijd": sqlalchemytypes.String,
})
df_cleaned.to_sql('aankomst', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.SmallInteger,
    "Bezetting": sqlalchemytypes.SmallInteger,
    "Vracht": sqlalchemytypes.SmallInteger,
    "Aankomsttijd": sqlalchemytypes.TIMESTAMP
})

/tmp/ipykernel_111364/2635250363.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

442

Banen

In [87]:
query = '''
SELECT *
FROM raw_1.banen;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('banen', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Baannummer": sqlalchemytypes.SmallInteger,
    "Code": sqlalchemytypes.String,
    "Naam": sqlalchemytypes.String,
    "Lengte": sqlalchemytypes.SmallInteger,
})

/tmp/ipykernel_111364/1905881795.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

6

Klant

In [88]:
query = '''
SELECT *
FROM raw_1.klant;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('klant', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Operatie": sqlalchemytypes.Numeric,
    "Faciliteiten": sqlalchemytypes.Numeric,
    "Shops": sqlalchemytypes.Numeric,
})

/tmp/ipykernel_111364/60357407.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

110

Luchthavens

In [89]:
query = '''
SELECT *
FROM raw_1.luchthavens;
'''
df_original = pd.read_sql(query, conn)
df_original = df_original.drop_duplicates(subset=['IATA'])
df_dropped = df_original[(df_original['IATA'].isnull())]
df_cleaned = df_original.drop(df_dropped.index)

df_dropped.to_sql('luchthavens', con=engine, schema='archived', if_exists='append', index=False, dtype={
    "Airport": sqlalchemytypes.String,
    "City": sqlalchemytypes.String,
    "Country": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Lat": sqlalchemytypes.String,
    "Lon": sqlalchemytypes.String,
    "Alt": sqlalchemytypes.String,
    "TZ": sqlalchemytypes.String,
    "DST": sqlalchemytypes.String,
    "Tz": sqlalchemytypes.String,
})
df_cleaned.to_sql('luchthavens', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Airport": sqlalchemytypes.String,
    "City": sqlalchemytypes.String,
    "Country": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Lat": sqlalchemytypes.Numeric,
    "Lon": sqlalchemytypes.Numeric,
    "Alt": sqlalchemytypes.SmallInteger,
    "TZ": sqlalchemytypes.Numeric,
    "DST": sqlalchemytypes.String,
    "Tz": sqlalchemytypes.String,
})

/tmp/ipykernel_111364/2481863559.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

878

Maatschappijen

In [90]:
query = '''
SELECT *
FROM raw_1.maatschappijen;
'''
df_original = pd.read_sql(query, conn)
df_original = df_original.drop_duplicates(subset=['IATA'])
df_original = df_original.drop_duplicates(subset=['Name'])
df_dropped = df_original[(df_original['IATA'].isnull())&(df_original['ICAO'].isnull())]
df_cleaned = df_original.drop(df_dropped.index)

df_dropped.to_sql('maatschappijen', con=engine, schema='archived', if_exists='append', index=False, dtype={
    "Name": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
})
df_cleaned.to_sql('maatschappijen', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Name": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
})

/tmp/ipykernel_111364/2127087543.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

929

Planning

In [91]:
query = '''
SELECT *
FROM raw_1.planning;
'''
df_original = pd.read_sql(query, conn)
df_dropped = df_original[(df_original['Planterminal'].isnull()) & (df_original['Plangate'].isnull()) & (df_original['Plantijd'].isnull())]
df_cleaned = df_original.drop(df_dropped.index)
df_dropped.to_sql('planning', con=engine, schema='archived', if_exists='append', index=False, dtype={
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Planterminal": sqlalchemytypes.String,
    "Plangate": sqlalchemytypes.String,
    "Plantijd": sqlalchemytypes.String,
})
df_cleaned.to_sql('planning', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Planterminal": sqlalchemytypes.String,
    "Plangate": sqlalchemytypes.String,
    "Plantijd": sqlalchemytypes.TIME,
})

/tmp/ipykernel_111364/1736745285.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

574

Vertrek

In [92]:
query = '''
SELECT *
FROM raw_1.vertrek;
'''
df_original = pd.read_sql(query, conn)
df_dropped = df_original[(df_original['Vracht'].isnull()) & (df_original['Bezetting'].isnull())]
df_cleaned = df_original.drop(df_dropped.index)
df_dropped.to_sql('vertrek', con=engine, schema='archived', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.String,
    "Bezetting": sqlalchemytypes.String,
    "Vracht": sqlalchemytypes.String,
    "Vertrektijd": sqlalchemytypes.String,
})
df_cleaned.to_sql('vertrek', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.SmallInteger,
    "Bezetting": sqlalchemytypes.SmallInteger,
    "Vracht": sqlalchemytypes.SmallInteger,
    "Vertrektijd": sqlalchemytypes.TIMESTAMP,
})

/tmp/ipykernel_111364/3382717365.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

441

Vliegtuigen

In [93]:
query = '''
SELECT *
FROM raw_1.vliegtuig;
'''
df_original = pd.read_sql(query, conn)
df_original.to_sql('vliegtuig', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Airlinecode": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Vliegtuigtype": sqlalchemytypes.String,
    "Bouwjaar": sqlalchemytypes.SmallInteger,
})

/tmp/ipykernel_111364/193211816.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

557

Vliegtuigtype

In [94]:
query = '''
SELECT *
FROM raw_1.vliegtuigtype;
'''
df_original = pd.read_sql(query, conn)
df_original.to_sql('vliegtuigtype', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Merk": sqlalchemytypes.String,
    "Type": sqlalchemytypes.String,
    "Wake": sqlalchemytypes.String,
    "Cat": sqlalchemytypes.String,
    "Capaciteit": sqlalchemytypes.SmallInteger,
    "Vracht": sqlalchemytypes.SmallInteger,
})

/tmp/ipykernel_111364/1120226741.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

327

Vlucht

In [95]:
query = '''
SELECT *
FROM raw_1.vlucht;
'''
df_original = pd.read_sql(query, conn)
df_original.to_sql('vlucht', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Vluchtnr": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Datum": sqlalchemytypes.DATE,
})

/tmp/ipykernel_111364/483374263.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

512

Weer

In [96]:
query = '''
SELECT *
FROM raw_1.weer;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('weer', con=engine, schema='cleansed', if_exists='append', index=False, dtype={
    "Datum": sqlalchemytypes.DATE,
    "DDVEC": sqlalchemytypes.SMALLINT,
    "FHVEC": sqlalchemytypes.SMALLINT,
    "FG": sqlalchemytypes.SMALLINT,
    "FHX": sqlalchemytypes.SMALLINT,
    "FHXH": sqlalchemytypes.SMALLINT,
    "FHN": sqlalchemytypes.SMALLINT,
    "FHNH": sqlalchemytypes.SMALLINT,
    "FXX": sqlalchemytypes.SMALLINT,
    "FXXH": sqlalchemytypes.SMALLINT,
    "TG": sqlalchemytypes.SMALLINT,
    "TN": sqlalchemytypes.SMALLINT,
    "TNH": sqlalchemytypes.SMALLINT,
    "TX": sqlalchemytypes.SMALLINT,
    "TXH": sqlalchemytypes.SMALLINT,
    "T10N": sqlalchemytypes.SMALLINT,
    "T10NH": sqlalchemytypes.SMALLINT,
    "SQ": sqlalchemytypes.SMALLINT,
	"SP": sqlalchemytypes.SMALLINT,
    "Q": sqlalchemytypes.SMALLINT,
    "DR": sqlalchemytypes.SMALLINT,
    "RH": sqlalchemytypes.SMALLINT,
	"RHX": sqlalchemytypes.SMALLINT,
    "RHXH": sqlalchemytypes.SMALLINT,
    "PG": sqlalchemytypes.SMALLINT,
    "PX": sqlalchemytypes.SMALLINT,
    "PXH": sqlalchemytypes.SMALLINT,
    "PN": sqlalchemytypes.SMALLINT,
    "PNH": sqlalchemytypes.SMALLINT,
    "VVN": sqlalchemytypes.SMALLINT,
    "VVNH": sqlalchemytypes.SMALLINT,
    "VVX": sqlalchemytypes.SMALLINT,
    "VVXH": sqlalchemytypes.SMALLINT,
    "NG": sqlalchemytypes.SMALLINT,
    "UG": sqlalchemytypes.SMALLINT,
    "UX": sqlalchemytypes.SMALLINT,
    "UXH": sqlalchemytypes.SMALLINT,
    "UN": sqlalchemytypes.SMALLINT,
    "UNH": sqlalchemytypes.SMALLINT,
    "EV2": sqlalchemytypes.SMALLINT,
})

/tmp/ipykernel_111364/1513897221.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

644

## Data warehouse

In [97]:
cur = conn.cursor()

with open("./sql_scripts/star.sql","r") as file:
    sql_script = file.read()
cur.execute(sql_script)

conn.commit()

Banen

In [98]:
query = '''
SELECT *
FROM cleansed.banen;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('banen', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Baannummer": sqlalchemytypes.SmallInteger,
    "Code": sqlalchemytypes.String,
    "Naam": sqlalchemytypes.String,
    "Lengte": sqlalchemytypes.SmallInteger,
})

/tmp/ipykernel_111364/502059877.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

6

Klant

In [99]:

df_info = pd.read_sql('SELECT * FROM cleansed.klant', conn)
df_ids = pd.read_sql('SELECT "Vluchtid" FROM cleansed.vlucht', conn)
result_df = pd.merge(df_ids, df_info, on='Vluchtid', how='left')
result_df.to_sql('klant', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Operatie": sqlalchemytypes.Numeric,
    "Faciliteiten": sqlalchemytypes.Numeric,
    "Shops": sqlalchemytypes.Numeric,
})

/tmp/ipykernel_111364/1819825933.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_info = pd.read_sql('SELECT * FROM cleansed.klant', conn)
/tmp/ipykernel_111364/1819825933.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_ids = pd.read_sql('SELECT "Vluchtid" FROM cleansed.vlucht', conn)

512

Luchthavens

In [100]:
query = '''
SELECT *
FROM cleansed.luchthavens;
'''
df_original = pd.read_sql(query, conn)


df_original.to_sql('luchthavens', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Airport": sqlalchemytypes.String,
    "City": sqlalchemytypes.String,
    "Country": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Lat": sqlalchemytypes.Numeric,
    "Lon": sqlalchemytypes.Numeric,
    "Alt": sqlalchemytypes.SmallInteger,
    "TZ": sqlalchemytypes.Numeric,
    "DST": sqlalchemytypes.String,
    "Tz": sqlalchemytypes.String,
})

/tmp/ipykernel_111364/2166639689.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

878

Maatschappijen

In [101]:
query = '''
SELECT *
FROM cleansed.maatschappijen;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('maatschappijen', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Name": sqlalchemytypes.String,
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
})

/tmp/ipykernel_111364/896613491.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

929

Vliegtuigtype

In [102]:
query = '''
SELECT *
FROM cleansed.vliegtuigtype;
'''
df_original = pd.read_sql(query, conn)
df_original.to_sql('vliegtuigtype', con=engine, schema='star', if_exists='append', index=False, dtype={
    "IATA": sqlalchemytypes.String,
    "ICAO": sqlalchemytypes.String,
    "Merk": sqlalchemytypes.String,
    "Type": sqlalchemytypes.String,
    "Wake": sqlalchemytypes.String,
    "Cat": sqlalchemytypes.String,
    "Capaciteit": sqlalchemytypes.SmallInteger,
    "Vracht": sqlalchemytypes.SmallInteger,
})

/tmp/ipykernel_111364/47310862.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

327

Vlucht

Weer

In [103]:
query = '''
SELECT *
FROM cleansed.weer;
'''
df_original = pd.read_sql(query, conn)

df_original.to_sql('weer', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Datum": sqlalchemytypes.DATE,
    "DDVEC": sqlalchemytypes.SMALLINT,
    "FHVEC": sqlalchemytypes.SMALLINT,
    "FG": sqlalchemytypes.SMALLINT,
    "FHX": sqlalchemytypes.SMALLINT,
    "FHXH": sqlalchemytypes.SMALLINT,
    "FHN": sqlalchemytypes.SMALLINT,
    "FHNH": sqlalchemytypes.SMALLINT,
    "FXX": sqlalchemytypes.SMALLINT,
    "FXXH": sqlalchemytypes.SMALLINT,
    "TG": sqlalchemytypes.SMALLINT,
    "TN": sqlalchemytypes.SMALLINT,
    "TNH": sqlalchemytypes.SMALLINT,
    "TX": sqlalchemytypes.SMALLINT,
    "TXH": sqlalchemytypes.SMALLINT,
    "T10N": sqlalchemytypes.SMALLINT,
    "T10NH": sqlalchemytypes.SMALLINT,
    "SQ": sqlalchemytypes.SMALLINT,
	"SP": sqlalchemytypes.SMALLINT,
    "Q": sqlalchemytypes.SMALLINT,
    "DR": sqlalchemytypes.SMALLINT,
    "RH": sqlalchemytypes.SMALLINT,
	"RHX": sqlalchemytypes.SMALLINT,
    "RHXH": sqlalchemytypes.SMALLINT,
    "PG": sqlalchemytypes.SMALLINT,
    "PX": sqlalchemytypes.SMALLINT,
    "PXH": sqlalchemytypes.SMALLINT,
    "PN": sqlalchemytypes.SMALLINT,
    "PNH": sqlalchemytypes.SMALLINT,
    "VVN": sqlalchemytypes.SMALLINT,
    "VVNH": sqlalchemytypes.SMALLINT,
    "VVX": sqlalchemytypes.SMALLINT,
    "VVXH": sqlalchemytypes.SMALLINT,
    "NG": sqlalchemytypes.SMALLINT,
    "UG": sqlalchemytypes.SMALLINT,
    "UX": sqlalchemytypes.SMALLINT,
    "UXH": sqlalchemytypes.SMALLINT,
    "UN": sqlalchemytypes.SMALLINT,
    "UNH": sqlalchemytypes.SMALLINT,
    "EV2": sqlalchemytypes.SMALLINT,
})

/tmp/ipykernel_111364/1575554463.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

644

In [104]:
query = '''
SELECT 
t1."Vluchtid",
t1."Vluchtnr",
t1."Vliegtuigcode",
l."Vliegtuigtype",
l."Bouwjaar",
t1."Terminal",
t1."Gate",
t1."Baan",
t1."Bezetting",
t1."Vracht",
t1."Type",
p."Plantijd",
t1."Tijd",
t1."Airlinecode",
t1."Destcode",
t1."Datum"
FROM
(SELECT
"Vluchtid",
MAX("Vluchtnr") AS "Vluchtnr",
MAX("Vliegtuigcode") AS "Vliegtuigcode",
MAX("Terminal") AS "Terminal",
MAX("Gate") AS "Gate",
MAX("Baan") AS "Baan",
MAX("Bezetting") AS "Bezetting",
MAX("Vracht") AS "Vracht",
MAX("Type") AS "Type",
MAX("Tijd") AS "Tijd",
MAX("Airlinecode") AS "Airlinecode",
MAX("Destcode") AS "Destcode",
MAX("Datum") AS "Datum"
FROM
(SELECT
"Vluchtid",
NULL AS "Vluchtnr",
NULL AS "Vliegtuigcode",
"Terminal",
"Gate",
"Baan",
"Bezetting",
"Vracht",
"Type",
"Tijd",
NULL AS "Airlinecode",
NULL AS "Destcode",
NULL AS "Datum"
FROM
(SELECT "Vluchtid","Vliegtuigcode","Terminal","Gate","Baan","Bezetting","Vracht", 'aankomst' AS "Type", "Aankomsttijd" As "Tijd"
FROM cleansed.aankomst 
UNION
SELECT "Vluchtid","Vliegtuigcode","Terminal","Gate","Baan","Bezetting","Vracht", 'vertrek' AS "Type", "Vertrektijd" As "Tijd"
FROM cleansed.vertrek) AS combined
UNION
SELECT
"Vluchtid",
"Vluchtnr",
"Vliegtuigcode",
NULL AS "Terminal",
NULL AS "Gate",
NULL AS "Baan",
NULL AS "Bezetting",
NULL AS "Vracht",
NULL AS "Type",
NULL AS "Tijd",
"Airlinecode",
"Destcode",
"Datum"
FROM
cleansed.vlucht v) AS doublescheme
GROUP BY "Vluchtid") t1
LEFT JOIN
cleansed.vliegtuig l
ON
t1."Vliegtuigcode" = l."Vliegtuigcode"
LEFT JOIN
cleansed.planning p
ON
t1."Vluchtnr" = p."Vluchtnr";
'''

fact_table = pd.read_sql(query, conn)

airlines_dim = pd.read_sql('SELECT * from cleansed.maatschappijen',conn)
mapping_table = airlines_dim[['IATA', 'ICAO', 'Name']]
fact_table = pd.merge(fact_table, mapping_table, left_on='Airlinecode', right_on='IATA', how='left')
fact_table = pd.merge(fact_table, mapping_table, left_on='Airlinecode', right_on='ICAO', how='left', suffixes=('_IATA', '_ICAO'))
fact_table['Name'] = fact_table['Name_IATA'].fillna(fact_table['Name_ICAO'])
print("---------------------------------") # 758883  772512 
fact_table.drop(['Name_IATA', 'Name_ICAO','IATA_IATA','ICAO_IATA','IATA_ICAO','ICAO_ICAO'], axis=1, inplace=True)
fact_table.rename(columns={'Name': 'Airlinename'}, inplace=True)
print("---------------------------------") # 758883  772512 
fact_table.to_sql('vlucht', con=engine, schema='star', if_exists='append', index=False, dtype={
    "Vluchtid": sqlalchemytypes.INTEGER,
    "Vluchtnr": sqlalchemytypes.String,
    "Vliegtuigcode": sqlalchemytypes.String,
    "Vliegtuigtype": sqlalchemytypes.String,
    "Bouwjaar": sqlalchemytypes.SMALLINT,
    "Terminal": sqlalchemytypes.String,
    "Gate": sqlalchemytypes.String,
    "Baan": sqlalchemytypes.SMALLINT,
    "Bezetting": sqlalchemytypes.SMALLINT,
    "Vracht": sqlalchemytypes.SMALLINT,
    "Type": sqlalchemytypes.String,
    "Plantijd": sqlalchemytypes.TIME,
    "Tijd": sqlalchemytypes.TIMESTAMP,
    "Airlinename": sqlalchemytypes.String,
    "Airlinecode": sqlalchemytypes.String,
    "Destcode": sqlalchemytypes.String,
    "Datum": sqlalchemytypes.DATE,
})

/tmp/ipykernel_111364/4041675596.py:83: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  fact_table = pd.read_sql(query, conn)
/tmp/ipykernel_111364/4041675596.py:85: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  airlines_dim = pd.read_sql('SELECT * from cleansed.maatschappijen',conn)

       Vluchtid Vluchtnr Vliegtuigcode Vliegtuigtype  Bouwjaar Terminal Gate  \
80000   1015992    MT844        VMT845           738      1998        B   B1
80001   1015993    DY793        VDY791           73G      1994        B   B5
80002   1015994    HV406        VHV403           772      2004        A   A2
80003   1015995    KL430        VKL427           73G      1976        C   C2

       Baan  Bezetting  Vracht  ... Airlinecode Destcode       Datum  \
80000   4.0       88.0     NaN  ...          MT      TFS  2014-06-21
80001   3.0       89.0     NaN  ...          DY      CPH  2014-06-21
80002   3.0       91.0     NaN  ...          HV      SOF  2014-06-21
80003   3.0       90.0     NaN  ...          KL      CDG  2014-06-21

      IATA_IATA ICAO_IATA                 Name_IATA IATA_ICAO ICAO_ICAO  \
80000       NaN       NaN                       NaN       NaN       NaN
80001        DY       NAX     Norwegian Air Shuttle       NaN       NaN
80002        HV       TRA         Transavia Holland       NaN       NaN
80003        KL       KLM  KLM Royal Dutch Airlines       NaN       NaN

      Name_ICAO                      Name
80000       NaN                       NaN
80001       NaN     Norwegian Air Shuttle
80002       NaN         Transavia Holland
80003       NaN  KLM Royal Dutch Airlines

[4 rows x 23 columns]
---------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772512 entries, 0 to 772511
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Vluchtid       772512 non-null  int64
 1   Vluchtnr       758887 non-null  object
 2   Vliegtuigcode  772512 non-null  object
 3   Vliegtuigtype  772512 non-null  object
 4   Bouwjaar       772512 non-null  int64
 5   Terminal       758683 non-null  object
 6   Gate           652201 non-null  object
 7   Baan           758879 non-null  float64
 8   Bezetting      658949 non-null  float64
 9   Vracht         99934 non-null   float64
 10  Type           758883 non-null  object
 11  Plantijd       658945 non-null  object
 12  Tijd           752139 non-null  datetime64[ns]
 13  Airlinecode    772512 non-null  object
 14  Destcode       772512 non-null  object
 15  Datum          772512 non-null  object
 16  IATA_IATA      603226 non-null  object
 17  ICAO_IATA      589601 non-null  object
 18  Name_IATA      603226 non-null  object
 19  IATA_ICAO      142024 non-null  object
 20  ICAO_ICAO      142024 non-null  object
 21  Name_ICAO      142024 non-null  object
 22  Name           745250 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(17)
memory usage: 135.6+ MB
None
           Vluchtid       Bouwjaar           Baan      Bezetting  \
count  7.725120e+05  772512.000000  758879.000000  658949.000000
mean   1.322248e+06    1990.358216       3.169022      82.555865
min    9.359920e+05    1970.000000       1.000000      45.000000
25%    1.129120e+06    1980.000000       2.000000      77.000000
50%    1.322248e+06    1989.000000       3.000000      84.000000
75%    1.515375e+06    2001.000000       4.000000      89.000000
max    1.708503e+06    2013.000000       5.000000     100.000000
std    2.230051e+05      13.008838       1.198586       9.222820

             Vracht                           Tijd
count  99934.000000                         752139
mean      44.116417  2016-01-27 11:21:36.473896704
min       21.000000            2014-01-01 02:46:00
25%       35.000000            2015-02-06 11:27:30
50%       44.000000            2016-02-12 16:44:00
75%       53.000000            2017-01-26 20:58:00
max       69.000000            2018-01-01 00:19:00
std       10.556779                            NaN
Vluchtid              0
Vluchtnr          13625
Vliegtuigcode         0
Vliegtuigtype         0
Bouwjaar              0
Terminal          13829
Gate             120311
Baan              13633
Bezetting        113563
Vracht           672578
Type              13629
Plantijd         113567
Tijd              20373
Airlinecode           0
Destcode              0
Datum                 0
IATA_IATA        169286
ICAO_IATA        182911
Name_IATA        169286
IATA_ICAO        630488
ICAO_ICAO        630488
Name_ICAO        630488
Name              27262
dtype: int64
0

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "vlucht" violates foreign key constraint "vlucht_Datum_fkey"
DETAIL:  Key (Datum)=(2018-01-01) is not present in table "weer".

[SQL: INSERT INTO star.vlucht ("Vluchtid", "Vluchtnr", "Vliegtuigcode", "Vliegtuigtype", "Bouwjaar", "Terminal", "Gate", "Baan", "Bezetting", "Vracht", "Type", "Plantijd", "Tijd", "Airlinecode", "Destcode", "Datum", "Airlinename") VALUES (%(Vluchtid__0)s,  ... 162362 characters truncated ... 511)s, %(Tijd__511)s, %(Airlinecode__511)s, %(Destcode__511)s, %(Datum__511)s, %(Airlinename__511)s)]
[parameters: {'Baan__0': 2.0, 'Datum__0': datetime.date(2017, 12, 31), 'Bouwjaar__0': 1982, 'Destcode__0': 'CGK', 'Vluchtid__0': 1707992, 'Vluchtnr__0': 'GA4943', 'Vracht__0': None, 'Gate__0': 'D2', 'Vliegtuigtype__0': '752', 'Vliegtuigcode__0': 'VGA4943', 'Tijd__0': datetime.datetime(2017, 12, 31, 3, 32), 'Airlinecode__0': 'GA', 'Bezetting__0': 75.0, 'Airlinename__0': 'Garuda Indonesia', 'Type__0': 'vertrek', 'Terminal__0': 'D', 'Plantijd__0': datetime.time(3, 25), 'Baan__1': 2.0, 'Datum__1': datetime.date(2017, 12, 31), 'Bouwjaar__1': 2001, 'Destcode__1': 'CMN', 'Vluchtid__1': 1707993, 'Vluchtnr__1': 'AT2487', 'Vracht__1': None, 'Gate__1': 'E5', 'Vliegtuigtype__1': '738', 'Vliegtuigcode__1': 'VAT2487', 'Tijd__1': datetime.datetime(2017, 12, 31, 3, 37), 'Airlinecode__1': 'AT', 'Bezetting__1': 73.0, 'Airlinename__1': 'Royal Air Maroc', 'Type__1': 'vertrek', 'Terminal__1': 'E', 'Plantijd__1': datetime.time(3, 25), 'Baan__2': 2.0, 'Datum__2': datetime.date(2017, 12, 31), 'Bouwjaar__2': 2003, 'Destcode__2': 'FAO', 'Vluchtid__2': 1707994, 'Vluchtnr__2': 'HV382', 'Vracht__2': None, 'Gate__2': 'A4', 'Vliegtuigtype__2': '772', 'Vliegtuigcode__2': 'VHV381', 'Tijd__2': datetime.datetime(2017, 12, 31, 3, 40), 'Airlinecode__2': 'HV', 'Bezetting__2': 62.0, 'Airlinename__2': 'Transavia Holland', 'Type__2': 'vertrek', 'Terminal__2': 'A' ... 8604 parameters truncated ... 'Datum__509': datetime.date(2017, 12, 31), 'Bouwjaar__509': 2003, 'Destcode__509': 'FAO', 'Vluchtid__509': 1708501, 'Vluchtnr__509': 'HV381', 'Vracht__509': None, 'Gate__509': 'A4', 'Vliegtuigtype__509': '772', 'Vliegtuigcode__509': 'VHV381', 'Tijd__509': datetime.datetime(2017, 12, 31, 23, 43), 'Airlinecode__509': 'HV', 'Bezetting__509': 54.0, 'Airlinename__509': 'Transavia Holland', 'Type__509': 'aankomst', 'Terminal__509': 'A', 'Plantijd__509': datetime.time(23, 40), 'Baan__510': 1.0, 'Datum__510': datetime.date(2018, 1, 1), 'Bouwjaar__510': 2012, 'Destcode__510': 'SVO', 'Vluchtid__510': 1708502, 'Vluchtnr__510': 'SU1830', 'Vracht__510': None, 'Gate__510': 'D3', 'Vliegtuigtype__510': '321', 'Vliegtuigcode__510': 'VSU1831', 'Tijd__510': datetime.datetime(2018, 1, 1, 0, 4), 'Airlinecode__510': 'SU', 'Bezetting__510': 77.0, 'Airlinename__510': 'Aeroflot Russian Airlines', 'Type__510': 'aankomst', 'Terminal__510': 'D', 'Plantijd__510': datetime.time(23, 40), 'Baan__511': 1.0, 'Datum__511': datetime.date(2018, 1, 1), 'Bouwjaar__511': 1982, 'Destcode__511': 'CGK', 'Vluchtid__511': 1708503, 'Vluchtnr__511': 'GA4942', 'Vracht__511': None, 'Gate__511': 'D2', 'Vliegtuigtype__511': '752', 'Vliegtuigcode__511': 'VGA4943', 'Tijd__511': datetime.datetime(2018, 1, 1, 0, 19), 'Airlinecode__511': 'GA', 'Bezetting__511': 70.0, 'Airlinename__511': 'Garuda Indonesia', 'Type__511': 'aankomst', 'Terminal__511': 'D', 'Plantijd__511': datetime.time(23, 55)}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

## Prep datalake