In [2]:
import psycopg2
import pandas as pd
host = "host.docker.internal"
dbname = "postgres"
user = "postgres"
password = "Newpassword"
port = "5432"

conn = psycopg2.connect(
    host=host,
    dbname=dbname,
    user=user,
    password=password,
    port=port
)

cur = conn.cursor()

In [3]:
query = '''
SELECT *
FROM raw.aankomst;
'''

# Load the data into a DataFrame
df_original = pd.read_sql(query, conn)

# Filter the DataFrame to identify rows where Vracht and Bezetting are NULL
df_dropped = df_original[(df_original['Vracht'].isnull()) & (df_original['Bezetting'].isnull())]

# Filter the original DataFrame to remove the rows where Vracht and Bezetting are NULL
df_cleaned = df_original.drop(df_dropped.index)

# Display the filtered DataFrames for verification
print("Dropped rows:")
print(df_dropped.head())

print("Cleaned DataFrame:")
print(df_cleaned.head())

/tmp/ipykernel_600/2641055107.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_original = pd.read_sql(query, conn)

Dropped rows:
   Vluchtid Vliegtuigcode Terminal  Gate Baan Bezetting Vracht  \
26   936045          VG50        G  None    6      None   None
51   936098         VG171        G  None    6      None   None
57   936110         VG162        G  None    6      None   None
67   936127          VG97        G  None    6      None   None
77   936150          VG79        G  None    6      None   None

           Aankomsttijd
26  2014-01-01 06:55:00
51  2014-01-01 08:51:00
57  2014-01-01 09:30:00
67  2014-01-01 10:04:00
77  2014-01-01 10:56:00
Cleaned DataFrame:
  Vluchtid Vliegtuigcode Terminal Gate Baan Bezetting Vracht  \
0   935998        VFR735        A   A1    1        45   None
1   936001        VHV303        A   A2    1        62   None
2   936009        VKL301        C   C1    1        58   None
3   936012        VTK505        B   B5    1        67   None
4   936013        VKL859        C   C2    1        71   None

          Aankomsttijd
0  2014-01-01 03:53:00
1  2014-01-01 04:15:00
2  2014-01-01 04:38:00
3  2014-01-01 04:43:00
4  2014-01-01 04:54:00