In [45]:
import psycopg2
import pandas as pd
host = "host.docker.internal"
dbname = "postgres"
user = "postgres"
password = "Newpassword"
port = "5432"

conn = psycopg2.connect(
    host=host,
    dbname=dbname,
    user=user,
    password=password,
    port=port
)

cur = conn.cursor()


conn.commit()

In [46]:
query = 'SELECT * FROM raw.aankomst'
df = pd.read_sql(query, conn)

# Display the first few rows
df.head()

# Basic profiling
print(df.info())
print(df.describe())
print("-------------")
print(df.isnull().sum())
print(df.duplicated().sum())

/tmp/ipykernel_16218/85292573.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386061 entries, 0 to 386060
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Vluchtid       386061 non-null  object
 1   Vliegtuigcode  386061 non-null  object
 2   Terminal       385961 non-null  object
 3   Gate           326100 non-null  object
 4   Baan           386059 non-null  object
 5   Bezetting      329475 non-null  object
 6   Vracht         49967 non-null   object
 7   Aankomsttijd   382688 non-null  object
dtypes: object(8)
memory usage: 23.6+ MB
None
       Vluchtid Vliegtuigcode Terminal    Gate    Baan Bezetting Vracht  \
count    386061        386061   385961  326100  386059    329475  49967
unique   386061           424        7      30       6        56     49
top      935998        VFR735        C      C1       4        86     38
freq          1          2922   107109   20475  208209     18949   1716

               Aankomsttijd
count                382688
unique               341707
top     2017-02-05 11:37:00
freq                      6
-------------
Vluchtid              0
Vliegtuigcode         0
Terminal            100
Gate              59961
Baan                  2
Bezetting         56586
Vracht           336094
Aankomsttijd       3373
dtype: int64
0

In [47]:
query = '''
SELECT *
FROM raw.aankomst a
WHERE a."Vracht" IS NULL AND a."Bezetting" IS NULL;

'''

In [49]:
cur.execute(query)

df = pd.read_sql(query, conn)

print(df.describe())

       Vluchtid Vliegtuigcode Terminal Gate  Baan Bezetting Vracht  \
count      6619          6619     6619    0  6619         0      0
unique     6619           123        1    0     1         0      0
top      936045         VG218        G  NaN     6       NaN    NaN
freq          1            72     6619  NaN  6619       NaN    NaN

               Aankomsttijd
count                  6619
unique                 6602
top     2014-03-20 16:05:00
freq                      2

/tmp/ipykernel_16218/3668641018.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)